{% extends 'layout.html'%}
{% block title%} Password generator {% endblock %}
{% block content %}
    {% if messages %}
        {% for msg in messages%}
        <div class="toast align-items-center border-0 show w-50 offset-md-3 {% if msg.tags == 'success' %} text-bg-primary {% else %} text-bg-danger {% endif %}" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="d-flex">
            <div class="toast-body">
               {{msg}}
            </div>
            <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
        </div>
        {% endfor %}
    {% endif %}
    <div class="col-md-4 offset-md-4">
        <form action="{% url 'password' %}" class="card card-body p-6 bg-mid-dark">
            <h1 class="h3">Password generator</h1>
            <label for="length">Select the Password length</label>
            <select name="length" id="length" class="form-control">
                <option value="6">6 characters</option>
                <option value="7">7 characters</option>
                <option value="8">8 characters</option>
                <option value="9">9 characters</option>
                <option value="10">10 characters</option>
                <option value="11">11 characters</option>
                <option value="12">12 characters</option>
                <option value="13">13 characters</option>
                <option value="14">14 characters</option>
            </select>
            
            <label for="base">Password base</label>
            <input type="text" id="base" name="base" maxlength="6" class="form-control">
            
            <div class="form-check form-switch my-2">
                <label class="form-check-label" for="uppercase">Uppercase</label>
                <input class="form-check-input" type="checkbox" id="uppercase" name="uppercase">
            </div>
            
            <div class="form-check form-switch my-2">
                <label class="form-check-label" for="numbers">Numbers</label>
                <input class="form-check-input" type="checkbox" id="numbers" name="numbers">
            </div>
        
            <div class="form-check form-switch my-2">
                <label class="form-check-label" for="special">Special</label>
                <input class="form-check-input" type="checkbox" id="special" name="special">
            </div>
            
            <button class="btn btn-outline-primary">Generate Password</button>
        </form>
    </div>
{% endblock%}