{% extends 'layout.html'%}
{% block title%} New password {% endblock %}
{% block content %}
    <div class="col-md-4 offset-md-4">
        <div class="card card-body p-6 bg-mid-dark">
            <h1 class="h4 text-center">Generated Password</h1>
            <p class="text-center">{{password}}</p>
            <hr>
            <form class="hide" id="show_elmnt" action="{% url 'passwordRecord' %}">
                <label for="passwordName">Password name</label>
                <input type="text" id="password" name="password" value="{{password}}" class="hide">
                <input type="text" id="passwordName" name="passwordName" maxlength="32" class="form-control">
                <div class="d-grid gap-2">
                    <button class="btn btn-outline-primary my-2">Save</button>
                </div>
            </form>
            <button id="show_btn" class="btn">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" fill="currentColor" class="bi bi-caret-down-fill" viewBox="0 0 16 16">
                     <path d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/>
                </svg>
            </button>
        </div>
    </div>
{% endblock %}